extends ../layout
block contenido
    script(src = "http://js.nicedit.com/nicEdit-latest.js",type = "text/javascript")
    script.
        bkLib.onDomLoaded(function () {
                    new
                            nicEditor().panelInstance('description');
                });
    script.
        function Ok() {
            nicEditors.findEditor('description').saveContent();
            document.subir.submit();
        }
    include ../nav
    div(class="margen_principal")
        script.
            function init() {
                window.location.href = reload;

            }
        form(action="/app/posts" method="POST" name="subir" id="subir" enctype="multipart/form-data")
        include ../nav_backend.pug
        div(class="nuevo_container_titulo")
            p Publicar
        div(class="container_flex")

            div(class="container_item")
                div(class="titulo_container_item")
                    p Imagen Principal

                div(class="imagen_container_item")
                    input(type="file" name="archivo" form="subir" id="upload" accept="image/*" onchange="loadFile(event)")
                    img(src="../../images/añadir.png" id="output")
                    script.
                        var loadFile = function (event) {
                            var output = document.getElementById('output');
                            output.src = URL.createObjectURL(event.target.files[0]);
                        };
        div(class="container_item")
                div(class="titulo_container_item")
                    p Categoría
                div(class="imagen_container_item")
                    select(name="category" form="subir")
                        option(value="1")
                            | Fashion
                        option(value="2")
                            | Beauty
                        option(value="3")
                            | Travel
                        option(value="4")
                            | Food
        div(class="container_flex")
            div(class="titulo_container_item")
                p
                    label(for="title") Título

                input(type="text" contentEditable="true" required="true" id="title" form="subir" name="title" style="max-width:100%;width:100%;")
        div(class="container_flex")
            div(class="titulo_container_item")
                p Descripcion

                textarea(rows="4" required="true" id="description" name="description" form="subir" cols="50" style="max-width:100%;width:100%;")


        div(class="container_flex")
            div(class="container_item")
                div(class="titulo_container_item")
                    p Imagenes secundarias
                div(class="imagen_container_item")
                    img(src="/images/añadir.png")
            div(class="container_item")
                div(class="titulo_container_item")
                    p
                div(class="imagen_container_item")
                    img(src="/images/añadir.png")
            div(class="container_item")
                div(class="titulo_container_item")
                    p
                div(class="imagen_container_item")
                    img(src="/images/añadir.png")
            div(class="container_item")
                div(class="titulo_container_item")
                    p
                div(class="imagen_container_item")
                    img(src="/images/añadir.png")
            div(class="container_item")
                div(class="titulo_container_item")
                    p
                div(class="imagen_container_item")
                    img(src="/images/añadir.png")








            input(type="submit" onClick="Ok();" value="Subir" form="subir")
