doctype html
html(lang="es")
    head
        title Sonia Mujica Blog
        meta(charset="utf-8")
        link(href='/css/estilos.css' rel="stylesheet")
        link(href='/css/fuentes.css' rel="stylesheet")

    body
        block contenido

