nav(id="nav")
    div(id="head")
        a(href="/")
            img(src="../../../images/logo_principal.png")
        div(id="contenedor_menu")
            div(class="menu_1")
                div
                    a(href="/") Inicio
                div
                    a(href="/fashion")  Fashion
                div
                    a(href="/beauty") Beauty
                div
                    a(href="/travel") Travel

                div
                    a(href="/food") Food


