div(class="menu_backend")
    div(class="menu_1")
        div
            a(href="/app/posts")
                |  Posts
        div
            a(href="/app/posts/new")
                | Publicar
        div(id="f_right")
            a(href="")
                | #{user.email}